* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corPadrao: blue;
    --widthPadrao: 1100px;
}

div {
    background-color: var(--corPadrao);
    max-width: var(--widthPadrao);
    margin: 0 auto;
}

h2 {
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.teste {
    color: red;
}

#paragrafo {
    font-size: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}


.box {
    width: 100%;
    border: 1px solid black;
    height: 500px;
    background-color: aqua;
}

@media screen and (min-width: 768px) {
    .box {
        width: 33.3%;
    }
}

